{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – HMLR Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }} prototypes
      </h1>

      <p>Prototypes for Digital Mortgage - Sign your mortgage deed"</p>

      <ul class="govuk-list govuk-list--bullet">
      	<li><a href="v1">version 1</a>: April 2024 <br>Initial setup of the page flow and rough page contents (doesn not include One Login)</li>
      </ul>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Design resources
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                figma files
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
